input {
	@apply h-11 w-full min-w-[280px];
	@apply rounded-lg border border-[#d5d7da] bg-white shadow-sm;
	@apply px-3.5 text-[#717680];
	@apply focus:outline-none focus:border-[#717680] focus:ring-1 focus:ring-[#717680];
}

.custom--select {
	@apply flex flex-col gap-1.5;

	label {
		@apply text-sm font-medium text-[#414651];
	}

	.hint {
		@apply text-sm text-[#535862];
	}
}
