.footer {
    @apply wrapper pt-12 lg:pt-16 px-8 pb-0 bg-[var(--panel-color)];
}

.newsletter--section {
    @apply flex flex-col lg:flex-row lg:justify-between items-center lg:items-start gap-6 lg:gap-0 mb-12 lg:mb-16;
}

.newsletter--section-title {
    @apply flex flex-col gap-2 text-center lg:text-left items-center lg:items-start;

    h3 {
        @apply text-xl leading-normal font-[var(--font-weight-semibold)] text-[var(--text-color-darker)];
    }

    p {
        @apply support-text-small text-[var(--text-color-base)];
    }
}

.newsletter--section-form {
    @apply flex flex-col sm:flex-row gap-4 w-full lg:w-auto;
    button{
        @apply w-full;
    }
}

.footer--items {
    @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-8 border-y border-[#e9eaeb] py-12 lg:py-16;
}

.footer--item {
    @apply flex flex-col gap-4;
}

.footer--item-title {
    @apply footer-heading;
}

.footer-item-element {
    @apply footer-item;
}

.footer--bottom {
    @apply flex flex-col-reverse lg:flex-row justify-center items-center support-text-small relative text-[#717680] pt-8 pb-8 lg:pb-14 gap-4 lg:gap-0;

    img {
        @apply static lg:absolute lg:left-0 mb-4 lg:mb-0;
    }
}