.hero--section {
    @apply wrapper md:grid grid-cols-2 py-[27px] pt-[calc(27px+var(--navbar-height))] px-8 bg-[var(--panel-color)] md:max-h-[calc(579px-80px)];

    .hero--section-content {
        @apply flex flex-col gap-5;

        h1 {
            @apply heading text-[var(--text-color-darker)];
        }

        p {
            @apply support-text text-[var(--text-color-base)];
        }
    }

    .hero--section-left {
        @apply flex flex-col gap-8 max-w-[596px];
    }

    .hero--section-right {
        @apply hidden md:flex md:relative flex h-[484px] bg-[url('@/assets/ui/dots.png')];


        #image-boy {
            @apply  md:absolute md:left-30;
        }

        #image-girl {
            @apply w-[306px] h-[517px] absolute left-0;
        }
    }
}