.orders--section {
    @apply wrapper flex flex-col px-4 lg:px-8 my-12 lg:my-24 justify-center;

    .orders--section-content {
        @apply grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-24 mt-8 lg:mt-16;
    }

    .orders--section-stats {
        @apply grid grid-cols-2 gap-4 lg:gap-8 text-center;
    }

    .orders--section-stat {
        @apply mb-6 lg:mb-8;

        span {
            @apply heading text-[var(--primary-color)];
        }

        h3 {
            @apply text my-2 lg:my-3;
        }

        p {
            @apply support-text-small text-[var(--text-color-base)] max-w-[264px] mx-auto;
        }
    }

    .orders--section-title {
        @apply max-w-3xl mx-auto lg:mx-0 text-center lg:text-left;

        span {
            @apply subtext text-[var(--primary-color)] block;
        }

        h2 {
            @apply secondary-heading text-[var(--text-color-darker)] mt-3 mb-5;
        }

        p {
            @apply support-text;
        }
    }
}

.orders--section-form {
    @apply shadow-xl rounded-2xl border border-[#e9eaeb] bg-white w-full p-6 lg:p-8 h-fit;
    @apply flex flex-col gap-6;
}

.custom--select {
    @apply flex flex-col gap-2;

    label {
        @apply text-sm font-medium text-[var(--text-color-darker)];
    }

    select {
        appearance: none;
        @apply w-full h-12 px-4 pl-12 rounded-lg border shadow-sm border-[#d5d7da] bg-white text-[var(--text-color-darker)] text-base outline-none cursor-pointer;
        @apply focus:border-[var(--primary-color)] focus:ring-1 focus:ring-[var(--primary-color)];

        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
        background-position: right 0.75rem center;
        background-repeat: no-repeat;
        background-size: 1.5em 1.5em;
        padding-right: 2.5rem;
    }

    .hint {
        @apply text-sm text-gray-600;
    }
}

.orders--section-form .button--primary {
    @apply w-full mt-2;
}