@utility flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@utility flex-between {
	display: flex;
	justify-content: space-between;
}

@utility flex-column {
	display: flex;
	flex-direction: column;
}
